 .p-component {

    .heading {
        position: absolute;
        width: 100px;
        left: 0px;
        text-transform: uppercase;
        letter-spacing: 6px;
        font-weight: 600;
        text-align: right;
        font-size:0.75em;
        line-height:2;
    }

    .text {
        padding-left :125px;
    }

 }

